.version.index {
  color: #0000F3;
  background-color: #7AE886;
}

#page {
  z-index: 1;
  width: 1260px;
  min-height: 861px;
  background-image: none;
  border-width: 0px;
  border-color: transparent;
  background-color: #FFFFFF;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  padding-bottom: 62px;
  margin-left: auto;
  margin-right: auto;
}

.Style {
  border-width: 0px;
  border-color: #F20C0C;
  background-color: #FFFFFF;
}

#u3711 {
  z-index: 2;
  width: 1241px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.5), 0px 0px 14px rgba(0, 0, 0, 0.5);
  border-color: #000000;
  background-color: #D0CCC8;
  padding-bottom: 221px;
  position: relative;
  margin-right: -10000px;
  margin-top: 309px;
  left: 10px;
}

#pu7763 {
  z-index: 87;
  width: 0.01px;
  margin-right: -10000px;
  margin-top: 38px;
  margin-left: 64px;
}

#u7763 {
  z-index: 87;
  display: block;
  vertical-align: top;
  margin-left: 16px;
  position: relative;
}

#u7768 {
  z-index: 93;
  display: block;
  vertical-align: top;
  margin-top: 77px;
  position: relative;
}

#u3734 {
  z-index: 81;
  width: 201px;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  background-color: #FFFFFF;
  margin-left: 27px;
  margin-top: 232px;
  position: relative;
}

#pu3709-6 {
  z-index: 39;
  width: 0.01px;
  padding-bottom: 0px;
  margin-right: -10000px;
  margin-top: 27px;
  margin-left: 306px;
}

#u3709-6 {
  z-index: 39;
  display: block;
  vertical-align: top;
  position: relative;
}

#pu3720-25 {
  z-index: 4;
  width: 0.01px;
  margin-left: 26px;
  margin-top: 14px;
}

#u3720-25 {
  z-index: 4;
  width: 619px;
  min-height: 301px;
  background-color: transparent;
  color: #000000;
  font-size: 19px;
  text-align: center;
  line-height: 23px;
  position: relative;
  margin-right: -10000px;
}

#u3720-5, #u3720-7, #u3720-9 {
  color: #FF0000;
}

#u3720-20, #u3720-22 {
  color: #FF0000;
  font-style: italic;
}

#u3714-3 {
  z-index: 73;
  width: 5px;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  margin-top: 186px;
  left: 139px;
}

#u15824 {
  z-index: 156;
  display: block;
  vertical-align: top;
  position: relative;
  margin-right: -10000px;
  margin-top: 112px;
  left: 563px;
}

#u1019-4 {
  z-index: 45;
  width: 652px;
  min-height: 80px;
  background-color: transparent;
  color: #ED1C24;
  font-size: 48px;
  text-align: center;
  line-height: 58px;
  font-family: alegreya-sc, serif;
  font-weight: 700;
  font-style: italic;
  margin-left: 9px;
  margin-top: 12px;
  position: relative;
}

#pu3715 {
  z-index: 76;
  width: 0.01px;
  margin-left: 63px;
  margin-top: 11px;
}

#u3715 {
  z-index: 76;
  width: 202px;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  background-color: transparent;
  margin-bottom: -2px;
  position: relative;
  margin-right: -10000px;
  margin-top: -2px;
  left: -2px;
}

#u3723-3 {
  z-index: 78;
  width: 7px;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  margin-top: 40px;
  left: 400px;
}

#u3744 {
  z-index: 83;
  width: 202px;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  background-color: transparent;
  margin-bottom: -2px;
  position: relative;
  margin-right: -10000px;
  margin-top: -1px;
  left: 275px;
}

#u3761 {
  z-index: 85;
  width: 202px;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  background-color: transparent;
  margin-bottom: -2px;
  position: relative;
  margin-right: -10000px;
  margin-top: -2px;
  left: 552px;
}

#u3761_img {
  margin-right: -1px;
}

#u2156 {
  z-index: 3;
  min-height: 230px;
  background: -webkit-gradient(linear, center top, center bottom, color-stop(2%, #8A8885), to(#FFFFFF));
  background: -webkit-linear-gradient(top, #8A8885 2%, #FFFFFF);
  background: linear-gradient(to bottom, #8A8885 2%, #FFFFFF);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF8A8885, endColorstr=#FFFFFFFF, GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8A8885', endColorstr='#FFFFFFFF', GradientType=0)";
  border-color: #000000;
}

#u2156_align_to_page {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 1260px;
  left: -100px;
}

#pu301 {
  z-index: 29;
  width: 0.01px;
  margin: 38px -10000px -4px 110px;
}

#u301 {
  z-index: 29;
  width: 509px;
  height: 5px;
  border-width: 0px;
  border-color: transparent;
  background-color: #FFFF00;
  position: relative;
  margin-right: -10000px;
  margin-top: 117px;
  left: 306px;
}

#u299 {
  z-index: 30;
  width: 509px;
  height: 4px;
  border-width: 0px;
  border-color: transparent;
  background-color: #000000;
  position: relative;
  margin-right: -10000px;
  margin-top: 113px;
  left: 306px;
}

#u69-4 {
  z-index: 31;
  width: 510px;
  min-height: 65px;
  border-width: 0px;
  border-color: transparent;
  background-color: transparent;
  color: #DE1414;
  font-size: 120px;
  line-height: 144px;
  font-family: brush-script-std, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  margin-right: -10000px;
  left: 257px;
}

#u87-4 {
  z-index: 35;
  width: 222px;
  min-height: 34px;
  border-color: #FFFFFF;
  background-color: transparent;
  color: #000000;
  font-size: 45px;
  line-height: 54px;
  font-family: iceland, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  margin-right: -10000px;
  margin-top: 107px;
  left: 656px;
}

#u13122 {
  z-index: 154;
  width: 267px;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  margin-top: 84px;
}

#pu303-10 {
  z-index: 63;
  width: 0.01px;
  padding-bottom: 0px;
  margin-right: -10000px;
  margin-top: 89px;
  margin-left: 1005px;
}

#u303-10 {
  z-index: 63;
  width: 320px;
  min-height: 82px;
  background-color: transparent;
  color: #000000;
  font-size: 21px;
  text-align: center;
  line-height: 25px;
  font-family: Times, Times New Roman, Georgia, serif;
  font-weight: normal;
  font-style: normal;
  position: relative;
}

#u7734-4 {
  z-index: 89;
  width: 204px;
  min-height: 17px;
  background-color: transparent;
  line-height: 20px;
  color: #FF0000;
  font-size: 17px;
  text-align: center;
  font-family: alegreya-sc, serif;
  font-weight: 700;
  margin-left: 63px;
  margin-top: 6px;
  position: relative;
}

.js body {
  visibility: hidden;
}

.js body.initialized {
  visibility: visible;
}

#u2156-bw {
  z-index: 3;
  min-height: 230px;
}

#u3309-4 {
  z-index: 49;
  width: 412px;
  min-height: 93px;
  background-color: transparent;
  color: #000000;
  font-size: 19px;
  text-align: center;
  line-height: 23px;
  font-family: alegreya-sc, serif;
  font-weight: 700;
  font-style: italic;
  position: relative;
  margin-right: -10000px;
  margin-top: 208px;
  left: 401px;
}

#u3310-3 {
  z-index: 53;
  width: 5px;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  margin-top: 244px;
  left: 36px;
}

#u3688-4 {
  z-index: 56;
  width: 650px;
  min-height: 20px;
  background-color: transparent;
  color: #000000;
  font-size: 18px;
  line-height: 22px;
  font-family: alegreya-sc, serif;
  font-weight: 700;
  font-style: italic;
  position: relative;
  margin-right: -10000px;
  margin-top: 238px;
  left: 304px;
}

#u3689-3 {
  z-index: 60;
  width: 5px;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  margin-top: 290px;
  left: 420px;
}

#u7790 {
  z-index: 95;
  width: 280px;
  min-height: 100px;
  border-width: 0px;
  border-color: transparent;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  margin-top: 221px;
  left: 952px;
}

#u7803 {
  z-index: 96;
  width: 437px;
  height: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  background-color: #000000;
  position: relative;
  margin-right: -10000px;
  margin-top: 234px;
  left: 387px;
}

#menuu140 {
  z-index: 97;
  width: 1237px;
  height: 39px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5), 0px 0px 8px rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 3px;
  border-color: #000000;
  background-color: transparent;
  padding-bottom: 4px;
  position: relative;
  margin-right: -10000px;
  margin-top: 263px;
  left: 11px;
}

#u141 {
  width: 174px;
  min-height: 39px;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  top: 2px;
  left: 2px;
}

#u142 {
  width: 174px;
  border-color: #000000;
  background-color: #7F7F7F;
  padding-bottom: 19px;
  position: relative;
}

#u142.MuseMenuActive {
  border-color: #000000;
  background-color: #DEDEDE;
  border-radius: 0px;
  width: 174px;
  min-height: 0px;
  margin: 0px;
}

#u145-4 {
  position: relative;
  margin-right: -10000px;
  top: 9px;
  left: 0px;
}

#u145-4_clip {
  overflow: hidden;
  width: 174px;
  height: 20px;
  display: block;
  vertical-align: top;
}

#u8013 {
  width: 174px;
  min-height: 39px;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  top: 2px;
  left: 178px;
}

#u8016 {
  width: 174px;
  border-color: #000000;
  background-color: #7F7F7F;
  padding-bottom: 19px;
  position: relative;
}

#u8016:hover {
  background-color: #999999;
  width: 174px;
  min-height: 0px;
  margin: 0px;
}

#u8018 {
  height: 20px;
  width: 174px;
  vertical-align: top;
  position: relative;
  margin-right: -10000px;
  top: 9px;
  background: transparent url("/images/u8018.png?crc=4026476836") no-repeat 0px 0px;
}

#u8016.MuseMenuActive #u8018 {
  background: transparent url("/images/u8018-a.png?crc=4026476836") no-repeat 0px 0px;
}

#u8014 {
  width: 175px;
  background-color: transparent;
  top: 39px;
}

#u8180 {
  width: 173px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  background-color: #7F7F7F;
  padding-bottom: 19px;
  position: relative;
  margin-right: -10000px;
}

#u8308 {
  width: 173px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  background-color: #7F7F7F;
  padding-bottom: 19px;
  position: relative;
  margin-right: -10000px;
}

#u8015, #u8179, #u8307, #u8445 {
  width: 175px;
  background-color: transparent;
  position: relative;
}

#u8446 {
  width: 173px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  background-color: #7F7F7F;
  padding-bottom: 19px;
  position: relative;
  margin-right: -10000px;
}

#u8180:hover, #u8308:hover, #u8446:hover {
  background-color: #AAAAAA;
  width: 173px;
  min-height: 0px;
  margin: 0px -10000px 0px 0px;
}

#u8182-4, #u8310-4, #u8449-4 {
  display: block;
  vertical-align: top;
  position: relative;
  margin-right: -10000px;
  top: 10px;
  left: 3px;
}

#u8926 {
  width: 174px;
  min-height: 39px;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  top: 2px;
  left: 354px;
}

#u8927 {
  width: 174px;
  border-color: #000000;
  background-color: #7F7F7F;
  padding-bottom: 19px;
  position: relative;
}

#u8927:hover {
  background-color: #999999;
  width: 174px;
  min-height: 0px;
  margin: 0px;
}

#u8928 {
  height: 20px;
  width: 174px;
  vertical-align: top;
  position: relative;
  margin-right: -10000px;
  top: 9px;
  background: transparent url("/images/u8928.png?crc=450384272") no-repeat 0px 0px;
}

#u8927.MuseMenuActive #u8928 {
  background: transparent url("/images/u8928-a.png?crc=450384272") no-repeat 0px 0px;
}

#u9186 {
  width: 174px;
  min-height: 39px;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  top: 2px;
  left: 530px;
}

#u9189 {
  width: 174px;
  border-color: #000000;
  background-color: #7F7F7F;
  padding-bottom: 19px;
  position: relative;
}

#u9189:hover {
  background-color: #999999;
  width: 174px;
  min-height: 0px;
  margin: 0px;
}

#u8016:active, #u8927:active, #u9189:active {
  background-color: #6B6B6B;
  width: 174px;
  min-height: 0px;
  margin: 0px;
}

#u9190 {
  height: 20px;
  width: 174px;
  vertical-align: top;
  position: relative;
  margin-right: -10000px;
  top: 9px;
  background: transparent url("/images/u9190.png?crc=4007448463") no-repeat 0px 0px;
}

#u9189.MuseMenuActive #u9190 {
  background: transparent url("/images/u9190-a.png?crc=4007448463") no-repeat 0px 0px;
}

#u9376 {
  width: 175px;
  min-height: 39px;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  top: 2px;
  left: 706px;
}

#u9379 {
  width: 175px;
  border-color: #000000;
  background-color: #7F7F7F;
  padding-bottom: 19px;
  position: relative;
}

#u9379:hover {
  background-color: #999999;
  width: 175px;
  min-height: 0px;
  margin: 0px;
}

#u9380 {
  height: 20px;
  width: 175px;
  vertical-align: top;
  position: relative;
  margin-right: -10000px;
  top: 9px;
  background: transparent url("/images/u9380.png?crc=3982814653") no-repeat 0px 0px;
}

#u9379.MuseMenuActive #u9380 {
  background: transparent url("/images/u9380-a.png?crc=3982814653") no-repeat 0px 0px;
}

#u9580 {
  width: 175px;
  min-height: 39px;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  top: 2px;
  left: 883px;
}

#u9581 {
  width: 175px;
  border-color: #000000;
  background-color: #7F7F7F;
  padding-bottom: 19px;
  position: relative;
}

#u9581:hover {
  background-color: #999999;
  width: 175px;
  min-height: 0px;
  margin: 0px;
}

#u9584 {
  height: 20px;
  width: 175px;
  vertical-align: top;
  position: relative;
  margin-right: -10000px;
  top: 9px;
  background: transparent url("/images/u9584.png?crc=379102078") no-repeat 0px 0px;
}

#u9581.MuseMenuActive #u9584 {
  background: transparent url("/images/u9584-a.png?crc=379102078") no-repeat 0px 0px;
}

#u9798 {
  width: 175px;
  min-height: 39px;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  top: 2px;
  left: 1060px;
}

#u9801 {
  width: 175px;
  border-color: #000000;
  background-color: #7F7F7F;
  padding-bottom: 19px;
  position: relative;
}

#u9801:hover {
  background-color: #999999;
  width: 175px;
  min-height: 0px;
  margin: 0px;
}

#u9379:active, #u9581:active, #u9801:active {
  background-color: #6B6B6B;
  width: 175px;
  min-height: 0px;
  margin: 0px;
}

#u9804 {
  height: 20px;
  width: 175px;
  vertical-align: top;
  position: relative;
  margin-right: -10000px;
  top: 9px;
  background: transparent url("/images/u9804.png?crc=3830329161") no-repeat 0px 0px;
}

#u9801.MuseMenuActive #u9804 {
  background: transparent url("/images/u9804-a.png?crc=3830329161") no-repeat 0px 0px;
}

.MenuItem {
  cursor: pointer;
}

.css_verticalspacer .verticalspacer {
  height: calc(100vh - 1474px);
}

#muse_css_mq, .html {
  background-color: #FFFFFF;
}

body {
  position: relative;
  min-width: 1260px;
}